@tailwind base;
@tailwind components;
@tailwind utilities;


.post-card {
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.post-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


a, button {
    transition: all 0.2s ease;
}

.dark .text-gray-400 {
    color: rgba(229, 231, 235, 0.9) !important;
}

.dark .bg-gray-800 {
    background-color: #1f2937 !important;
}